lab09/src/lab09/AddressXML.xsd

<?xml version="1.0"?>
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" 
           targetNamespace="http://myprojects.net/xsd/TestScheme"
           xmlns="http://myprojects.net/xsd/TestScheme">
    <xs:element name="address" type="AddressXML"/>

    <xs:complexType name="AddressXML">
        <xs:sequence>
            <xs:element name="firstname" type="xs:string"/>
            <xs:element name="lastname" type="xs:string"/>
            <xs:element name="line1" type="xs:string"/>
            <xs:element name="line2" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>